h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar a,
.navbar a:focus {
  font-family: "Montserrat", sans-serif;
  padding: 0 2px;
  white-space: nowrap;
  letter-spacing: 0.4px;
  position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1000px;
    top: 0;
}

.ptf-about {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(65, 105, 225, 0.500), rgba(65, 105, 225, 0.500)),url(../img/hero-bg.jpg);
    overflow: hidden;
}

.ptf-about:nth-child(2) img:nth-child(1) {
    max-height: 300px;
    margin-top: auto;   
}

.ptf-about:nth-child(2) img:nth-child(2) {
    max-height: 400px;
    margin-top: auto;
}

.ptf-about:nth-child(2) img:nth-child(3) {
    max-height: 500px;
    margin-top: auto;
}


.modals-position {
    position: fixed;
    inset: 0;
    background-color: #22222287;
    /* opacity: .5; */
    transition: background-color 1s;
    z-index: 9999;
}